# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/qrcodes/*
#web/plans/*
web/bundles/*
.idea/

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
log.txt