<!-- BEGIN SIDEBAR -->
<div class="page-sidebar navbar-collapse collapse">
	<!-- BEGIN SIDEBAR MENU -->        
	<ul class="page-sidebar-menu">
		<li>
			<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
			<div class="sidebar-toggler hidden-phone"></div>
			<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
		</li>
		{% include 'sidebar_search.html.twig' %}
		<li class="start active ">
			<a href="{{ path('dashboard') }}">
				<i class="fa fa-home"></i> 
				<span class="title">{% trans %}Dashboard{% endtrans %}</span>
				<span class="selected"></span>
			</a>
		</li>

		<li class="">
			<a href="javascript:;">
				<i class="fa fa-money"></i> 
				<span class="title">{% trans %}Plans{% endtrans %}</span>
				<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
                <li >
                    <a href="{{ path('plan_show', { planId: 5 }) }}" title="{% trans %}Test plan{% endtrans %}">
                        <i class="fa fa-comments"></i>
                        {% trans %}Test plan{% endtrans %}
                    </a>
                </li>
                <li >
                    <a href="{{ path('plan_show', { planId: 6 }) }}" title="{% trans %}Napitki plus{% endtrans %}">
                        <i class="fa fa-comments"></i>
                        {% trans %}Test plan{% endtrans %}
                    </a>
                </li>
			</ul>
		</li>
	</ul>
	<!-- END SIDEBAR MENU -->
</div>
<!-- END SIDEBAR -->
