<div id="map"></div>
<script type="text/javascript">
    $(document).ready(function(){
        var options = {
            plan: {{ plan|json_encode|raw }},
            contours: {{ contours|json_encode|raw }}
        };

        HaccpMap.init(options);
    });
</script>